AstroGPT/.vscode
backend/__pycache__

AstroGPT/logs
AstroGPT/*.log
AstroGPT/npm-debug.log*
AstroGPT/yarn-debug.log*
AstroGPT/yarn-error.log*
AstroGPT/pnpm-debug.log*
AstroGPT/lerna-debug.log*
AstroGPT/node_modules
AstroGPT/dist
AstroGPT/dist-ssr
AstroGPT/*.local
AstroGPT/.vscode/*
AstroGPT/!.vscode/extensions.json
AstroGPT/.idea
AstroGPT/.DS_Store
AstroGPT/*.suo
AstroGPT/*.ntvs*
AstroGPT/*.njsproj
AstroGPT/*.sln
AstroGPT/*.sw?

backend/bin
backend/bin
backend/include
backend/lib
backend/lib64
backend/__pycache__
backend/pyvenv.cfg
backend/share
backend/simplet5-epoch-6-train-loss-1.0673-val-loss-0.5636
backend/simplet5-epoch-6-train-loss-1.0673-val-loss-0.5636-20231107T171246Z-001.zip
